html,
body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  overflow-y: auto;
}
.temp-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0px 5px;
    }
  }
}